body {
  background-image: url('images/clouds.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  height: 100vh;
}

.nav-spacing {
  margin-bottom: 50px;
}

/*tv {
  position: absolute;
  z-index: 1;
}*/

/*.home-video {
  padding-top: 200px !important;
}*/

.text-shadow {
  text-shadow: 0 0 20px black;
}